# Scrapy 2.0
Scrapy==2.0.0

# Dependencies
Twisted==20.3.0
lxml==4.6.3
pyOpenSSL==19.1.0
cryptography==2.9.2
pycparser==2.20
requests==2.22.0

# Additional libraries
attrs==19.3.0
cssselect==1.1.0
fake-useragent==0.1.11
#Faker==8.0.0
filelock==3.0.12
greenlet==0.4.15
hyperlink==19.0.0
idna==2.8
itemadapter==0.1.0
itemloaders==1.0.4
jmespath==0.10.0
numpy==1.18.5
openpyxl==3.0.5
packaging==20.4
pandas==1.1.5
parsel==1.6.0
#playwright==0.14.0
Protego==0.3.0
proxyscrape==0.3.0
pyasn1==0.4.8
pyasn1_modules==0.2.8
PyDispatcher==2.0.5
pyee==8.2.2
pyodbc==4.0.30
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
queuelib==1.5.0
#scrapy-fake-useragent==1.0.0
#scrapy-playwright==0.0.1
#scrapy-proxies==0.1.0
#scrapy-proxy-pool==0.1.0
#scrapy-splash==0.7.2
#scrapy-user-agents==0.1.0
#selenium==3.141.0
#service-identity==18.1.0
setuptools==44.1.1
#six==1.15.0
#sniffio==1.1.0
#sortedcontainers==2.2.2
#soupsieve==2.0.1
#tldextract==2.2.0
#trio==0.17.0
#trio-websocket==0.8.0
typing_extensions==3.7.4
tzdata==2020.1
ua-parser==0.7.0
urllib3==1.25.11
user-agents==2.0.0
w3lib==1.22.0
webdriver-manager==3.4.0
websocket-client==0.57.0
wsproto==1.0.0
zope.interface==5.1.0
